.bg-oscuro {
    background-color: rgb(53, 58, 64);
}

.texto-verdesin {
    color: rgb(51, 117, 71);
}

.boton-verde {
    background-color: rgb(41, 167, 67);
    color: white;
}

.imagen-carta {
    opacity: 0.5;
}